
<!DOCTYPE html>
<html>
<head>
  <title>FUN ERROR MESSAGE</title>
</head>
<body>
  <h1>Welcome to Fun Error Msg 7</h1>
  <p><h3>Beats the hell out of me,but seriously something went wrong.... </h3></p>
</body>
</html>