
<!DOCTYPE html>
<html>
<head>
  <title>FUN ERROR MESSAGE</title>
</head>
<body>
  <h1>Welcome to Fun Error Msg 6</h1>
  <p><h3>Proceeding with the operation "Delete" will erase the contents of your hard drive. Proceed or delete?

    Do you want to wipe out your entire hard drive, or would you rather erase everything on it?  </h3></p>
</body>
</html>