
<!DOCTYPE html>
<html>
<head>
  <title>FUN ERROR MESSAGE</title>
</head>
<body>
  <h1>Welcome to Fun Error Msg 4</h1>
  <p><h3>Task failed successfully. Yay! Mission not accomplished!  </h3></p>
</body>
</html>