<!DOCTYPE html>
<html>
<head>
  <title>FUN ERROR MESSAGE</title>
</head>
<body>
  <h1>Welcome to Fun Error Msg 5</h1>
  <p> <h3>An error occurred while displaying the previous error.</h3></p>
</body>
</html>